/.gradle/
/bin/
/build/
relics.jpg
db.db
log.txt*
*.lck
/debug/
/tessdata/
*.png
!/src/test/resources/**/*.png
*.jpg
!/src/test/resources/**/*.jpg
.classpath
.project
/gradle/
/out/
*.iml
/.idea/
settings.json
